/* El asterisco(*) significa que se le agregará estas caracteristicas a todos los elementos en la página*/
*{
    margin: 0;
    padding:0;
}

.title{
    color: #f72585
}

/* Un identificador CSS. Los identificadores se le debe aplicar a solo un elemento*/
#principal_title{
    color: #f72585;
    text-align: center;
    margin: 15px;
}

#title_links{
    text-align: center;
    border: 1px solid black;
    margin: 0px 580px;
    padding: 3px ;
}
h2{
    color: #3f37c9;
}
p{
    color: #457b9d;
}

/* A esto se le llama clase en CSS*/
.card{
    border: 10px solid #560bad;
    background-color: #f1faee;
    text-align: center;
    margin: 15px 100px;
    padding: 15px;
}
.title_link{
    background-color: black;
    color: white;
    margin: 3px;
    text-decoration: none;
}